.editorWrapper {
  height: 250px;
  border-radius: 8px;
  overflow: scroll;

  .ql-toolbar {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .ql-container {
    height: calc(100% - 42px);
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .ql-editor {
    height: 100%;
    overflow-y: auto;
  }
}

.contentEditor {
    width: 100%;
  
    :global(.ql-toolbar),
    :global(.ql-container) {
      border: none !important;
      box-shadow: none !important;
    }
  
    // :global(.ql-editor) {
    //   min-height: 150px;
    // }
}  
  